<% content_for :title, "Politieke Partijen" %>

<div id="react-data-political_parties" data-political_parties='<%= @political_parties.to_json.html_safe %>' ></div>
<%= vite_typescript_tag 'political_parties_index.tsx' %>
