<% content_for :title, @political_party&.name %>

<div id="react-data-political-party-show" 
  data-political-party='<%= {
  logo_url: @political_party&.logo&.url,
  name: @political_party&.name,
  abbreviation: @political_party&.abbreviation,
  slogan: @political_party&.slogan,
  body: @political_party&.body,
  election_programme_url: @political_party&.election_programme&.url}.to_json.html_safe %>' >
</div>
<%= vite_typescript_tag 'political_parties_show.tsx' %>

<% if can? :update, @political_party %>
  <%= link_to 'Edit', edit_political_party_path(@political_party) %>
  |
  <%= link_to 'Back', political_parties_path %>
<% end %>
