<div class="text">
   <p>RMTK is een online groepering van politiek geinteresseerden die
      trachten de Nederlandse politiek met eigen inval te benaderen. Sinds 26
      mei 2015 is dit initiatief actief bezig met de eigen kijk op problemen
      waar de leden van de simulatie zich mee bezig houden. Kijk bij een van
      de onderstaande linkjes als je geintereseerd bent!
   </p>
   <p>Deze website is niet ons voornaamste platform, dus we raden ten
      zeerste aan eventuele vragen direct aan het moderatieteam te stellen,
      of op de subreddit te zoeken.
   </p>
   <p>Voor direct contact kan gemaild worden naar rmtweedekamer@gmail.com</p>
</div>

<div class="links">
   <a href="https://www.reddit.com/r/RMTK/">Reddit Model Tweede Kamer subreddit</a>
   <br>
   <a href="https://discordapp.com/invite/59a6CBC">Discord server link</a>
   <br>
   <a href="https://twitter.com/RMTKamer">RMTK Twitter</a>
   <br>
   <a href="https://www.instagram.com/rmtkamer/">RMTK Instagram</a>
   <br>
   <a href="https://docs.google.com/spreadsheets/d/1ld92uaKfVgENCafId8HjWIWJ6HXc_Dl1lgz960pu-iI/edit?usp=sharing">Masterspreadsheet</a>
   <br>
   <a href="https://www.reddit.com/r/RMTK/wiki/gids">Nieuwe ledengids</a>
   <br>
   <a href="https://www.reddit.com/r/RMTK/wiki/grondwet">RMTK Grondwet</a>
   <br>
   <a href="https://www.reddit.com/message/compose?to=%2Fr%2FRMTK&amp;subject=&amp;message=">Modmail (Reddit account vereist)</a>
   <br>
   <a href="https://kieswijzer.th8.nl/">RMTK Stemwijzer</a>
</div>

