@import "~bootstrap/scss/bootstrap"; // never forget the semicolon
@import "./_custom";
@import "../../assets/stylesheets/home";

.bg_primary-color {
    background-color: #FFFFFF;
}

.primary-color {
    background-color: #FFFFFF;
}

.bg_secondary-color {
    background-color: #293241;
}

.secondary-color {
    color: #293241;
}

.custom-button.btn {
    background-color: #293241;
    color: #FFF;
    border: none;
}

.custom-button.btn:hover {
    color: #FFF !important;
    border: none;
}

.hero {
    width: 100vw;
    height: 50vh;
}

.hero img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
#footer {
  flex-shrink: 0;
}
